<div *ngIf="hero">
    <h2 [ngClass]="hero.universe === 'Marvel' ? 'marvelRed' : 'dcBlue'">
        {{hero.name | uppercase}}
    </h2>
    <div><span>id: </span>{{hero.id}}</div>
    
    <div>
        <label for="hero-name">Hero Name:</label>
        <input  
            type="text" 
            id="hero-name" 
            [(ngModel)] ="hero.name"
            placeholder="name">
    </div>

    <div>
        <label for="alias-name">Alias Name:</label>
        <input  
            type="text" 
            id="alias-name" 
            [(ngModel)] ="hero.alias"
            placeholder="name">
    </div>


    <!-- <div>
        <span>Alias:</span>
        <span [ngClass]="hero.universe === 'Marvel' ? 'marvelRed' : 'dcBlue'">
            {{hero.alias}}
        </span>

    </div> -->
</div>